
.fil0 {
    stroke :#000;
    fill: none;

    stroke-width: 200;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-dasharray: 249900;
    animation: dash 6s ease-in;
}
image{
    opacity: 1;
    animation: img 6s ease-in;
}
@keyframes dash {
    0% {
        fill-opacity: 0;
      stroke-dashoffset: 249900;
    }
    50% {
        stroke-dashoffset: 0;
    }
    100%{
        stroke-dashoffset: 0;
    }
  }
@keyframes img {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.quad
    width 100mvh
    height 100mvh
@media (min-width: 960px)
    .quad
        width 100mvw
        height 100mvw
a,a:hover,a:active
    text-decoration: none